In [6]:
import sqlite3 as sq

In [8]:
conn=sqlite3.connect("new.db")
c=conn.cursor()

In [12]:
c.execute("CREATE TABLE IF NOT EXISTS new_table(id int,name varchar,addres varchar)")

In [16]:
c.execute("INSERT INTO new_table VALUES(01,'Prateek_Gupta','Gohad123')")
conn.commit()
c.close()
conn.close()